@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
	background-color: #141414;
	margin: 0;
	font-family: 'Rubik';
	color: #c4d3db;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.instructions {
	text-align: center;
}

.Minter {
	max-width: 90vh;
	max-height: 90vh;
	padding: 60px 100px;
	margin: 0 auto;
	text-align: left;
}

input {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	font-size: 16px;
	width: 100%;
	border-color: rgba(4, 4, 5, 0.1);
	line-height: 32px;
}

input:focus {
	outline: none;
	border-color: #6f2232;
}

button {
	padding: 9px 16px;
	max-height: 40px;
	/*box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);*/
	border-color: #6f2232;
	color: #c4d3db;
	background-color: #6f2232;
	border-radius: 8px;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	margin-top: -1px;
}

#title {
	padding-top: 32px;
	justify-content: center;
	color: #66fcf1;
}

#subheading {
	color: #c4d3db;
}

.uploadFile {
	border: 4px dashed rgba(4, 4, 5, 0.1);
	border-radius: 16px;
	text-align: center;
	padding: 32px 60px;
}

#walletButton {
	text-align: right;
	float: right;
	margin-bottom: 50px;
	line-height: 16px;
}
/*
#walletButton:focus {
  outline:none;
  border: none;
}

#walletButton:hover {
  outline:none;
  border :none;
} */

#mintButton {
	text-align: center;
	margin-top: 40px;
	background-color: #c3073f;
	color: #c4d3db;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
